# NumPy

In [ ]:
pip install numpy

In [4]:
import numpy as np

#### Arreglos

In [10]:
arr=np.array([1,2,3])
print(arr)

[1 2 3]

In [5]:
arr=np.array(([1,2,3],[4,5,6]))
print(arr)

[[1 2 3]
 [4 5 6]]

In [6]:
arr=np.array(([1,2,3],[4,5,6],[7,8,9]))
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [7]:
arr=np.array([1,2,34,5,6],ndmin=3)#ndim indica cuantas dimensiones tiene el arreglo
print(arr.ndim)
print(arr)
print(arr[0])
print(arr[0][0])
print(arr[0][0][0])

3
[[[ 1  2 34  5  6]]]
[[ 1  2 34  5  6]]
[ 1  2 34  5  6]
1

In [14]:
arr=np.zeros((2,2))#crear arreglo de ceros
print(arr)

[[0. 0.]
 [0. 0.]]

In [12]:
arr=np.ones((3,3))#crear arreglo de unos
print(arr)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [15]:
arr=np.random.rand(3,3)
print(arr)

[[0.23258044 0.02650216 0.63297112]
 [0.14741377 0.35295645 0.41526617]
 [0.51245662 0.92958174 0.24703241]]

#### Operaciones

In [16]:
arr1=[1,2,3]
arr2=[4,5,6]
arr3=np.add(arr1,arr2)#realiza la suma de los dos arreglos
print(arr3)

[5 7 9]

In [17]:
arr1=[1,2,3]
arr2=[4,5,6]
arr3=np.subtract(arr1,arr2)#realiza la resta de los arreglos
print(arr3)

[-3 -3 -3]

In [ ]:
arr1=[1,2,3]
arr2=[4,5,6]
arr3=np.multiply(arr1,arr2)#realiza la multiplicacion de los arreglos
print(arr3)

In [ ]:
arr1=[1,2,3]
arr2=[4,5,6]
arr3=np.divide(arr1,arr2)#realiza la division de los arreglos
print(arr3)

#### Agregacion

In [18]:
arr=[1,5,7]
media=np.mean(arr)
print(media)

4.333333333333333

In [19]:
arr=[1,5,7]
mediana=np.mean(arr)
print(mediana)

4.333333333333333

In [20]:
arr=[1,5,7]
maximo=np.max(arr)
print(maximo)

7

In [21]:
arr=[1,5,7]
minimo=np.min(arr)
print(minimo)

1

#### Indexacion

In [ ]:
arr=np.array([1,2,3,4,5,6])
print(arr[0])

In [ ]:
arr=np.array([1,2,3,4,5,6])#devuelve la ultima posicion 
print(arr[-1])

In [22]:
arr=np.array(([1,2,3],[4,5,6]))#devuelve el numero 6 que esta en el indice 1 posicion 2
print(arr[1,2])

6

#### Slincing

In [ ]:
arr=np.array([1,2,3,4,5,6])
print(arr[1:4])#crea una rebanada desde el indice 1 hasta el 4-1(n-1)

In [23]:
arr=np.array([1,2,3,4,5,6])
print(arr[1:4:2])#crea una rebanada desde el indice 1 hasta el 4-1 con saltos de 2

[2 4]

In [25]:
arr=np.array([1,2,3,4,5,6])
print(arr[::2])#crea una rebanada desde vacio a vacion de saltos de 2 en dos(:: significaria todo)

[1 3 5]

#### Tipos de datos

In [26]:
arr=np.array(["b","a"])
print(arr.dtype)#te brinda el tipo de dato

<U1

In [27]:
arr=np.array([1,2])
print(arr.dtype)#te brinda el tipo de dato

int32

In [30]:
arr=np.array([1,2,3],dtype='S')
#'i'= integer
#'b'= boleano
#'f'= flotante
#'M'= datetime
#'O'= objeto
#'S'= string

print(arr)

[b'1' b'2' b'3']

In [31]:
arr=np.array([1.1,2.1,3.1])
print("Pre",arr)
nuevo_arr=arr.astype('i')#convierte un arreglo a un tipo de dato, en este caso a entero
print("post",nuevo_arr)

Pre [1.1 2.1 3.1]
post [1 2 3]

#### Copy vs view

In [ ]:
arr=np.array([1,2,3])
x=arr.copy()#guarda una copia del arreglo
y=arr.view()#guarda una vista del arreglo en tiempo real
print("arr",arr)
print("copy",x)
print("view",y)

arr[0]=0

print("arr",arr)
print("copy",x)
print("view",y)

In [ ]:
arr=np.array([1,2,4])
print("arr",arr)
x=arr.view()
print("x view",x)

#### concatenar

In [34]:
arr1=np.array([1,2,3])
print("arr1",arr1)
arr1=np.array([4,5,6])
print("arr2",arr2)
arr3=np.concatenate((arr1,arr2))#concatena no suma dos arreglos
print("arr3",arr3)

arr1 [1 2 3]
arr2 [4, 5, 6]
arr3 [4 5 6 4 5 6]

#### concatenar

In [36]:
arr=np.array([1,2,2,4,5,4])
x=np.where(arr==5)#busca y regresa el indice donde se encuentra el elemento
print(x)

(array([4], dtype=int64),)

#### Ordenar

In [ ]:
arr=np.array([1,2,2,4,5,4])
x=np.sort(arr)#ordena un arreglo
print(x)

# Pandas

In [57]:
pip install pandas

Requirement already satisfied: pandas in c:\users\danie1\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\danie1\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\danie1\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\danie1\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\danie1\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.1)
Requirement already satisfied: six>=1.5 in c:\users\danie1\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [39]:
import pandas as pd

#### Series

In [40]:
a=np.array([1,2,3])
srs=pd.Series(a)#crea una serie a la cual se le da un indice para cada dato
print(srs)
print(srs[0])

0    1
1    2
2    3
dtype: int32
1

In [42]:
srs=pd.Series(a,index=["x","y","z"])#aqui se les da nombre a los indices
print(srs)
print(srs["x"])

x    1
y    2
z    3
dtype: int32
1

In [44]:
pasos={
    "Lunes":540,
    "Martes":620,
    "Miercoles":700,
    "Jueves":500,
    "Viernes":150

}
srs=pd.Series(pasos)#se le puede pasar un diccionario
print(srs)

Lunes        540
Martes       620
Miercoles    700
Jueves       500
Viernes      150
dtype: int64

In [47]:
srs=pd.Series(pasos,index=["Martes","Miercoles"])#se puede filtrar por indice
print(srs)

Martes       620
Miercoles    700
dtype: int64

#### DataFrame

In [48]:
myDataSet={
    "operador":["jhon doe","sr.x","lorem ipsum"],
    "no. reloj":[101,202,303]
}
df=pd.DataFrame(myDataSet)
print(df)

      operador  no. reloj
0     jhon doe        101
1         sr.x        202
2  lorem ipsum        303

In [ ]:
df['no. reloj']#trae  todos los datos de la columna

In [49]:
df[df['no. reloj']>101]#se filtra por la columna no reloj que cumplan con la condicion

      operador  no. reloj
1         sr.x        202
2  lorem ipsum        303

In [50]:
df['asistencia']=[True,False,True]#se crea una columna nueva y se le pasan esos valores

In [51]:
print(df)

      operador  no. reloj  asistencia
0     jhon doe        101        True
1         sr.x        202       False
2  lorem ipsum        303        True

In [52]:
print(df.loc[0])#trae los recursos dentro de ese indice

operador      jhon doe
no. reloj          101
asistencia        True
Name: 0, dtype: object

In [53]:
df=pd.DataFrame(myDataSet,index=["CEO","COO","CFO"])#se puede cambiar el nombre de los indices
print(df)

        operador  no. reloj
CEO     jhon doe        101
COO         sr.x        202
CFO  lorem ipsum        303

In [54]:
print(df.loc["CEO"])

operador     jhon doe
no. reloj         101
Name: CEO, dtype: object

In [56]:
print(df.loc[["CEO","COO"]])#filtrar por indices

     operador  no. reloj
CEO  jhon doe        101
COO      sr.x        202

#### Vistas

In [59]:
df=pd.read_csv("perfil de estudiante.csv")#leer los datos de un csv

In [63]:
df.head()#te trae los 5 primeros registros , se puede manipular para que traiga los registros que quieres , poniendo numero dentro de los parentesis

,Marca temporal,1.- ¿De dónde eres?,2.- ¿Cuántos años tienes?,3.- ¿Estudias?,4.- ¿Trabajas?,5.- ¿Cuál es tu nivel de conocimiento en Python?,6.- ¿Qué tema relacionado con Python te gustaría aprender?,7.- ¿Has participado en algún curso anteriormente en el IA Center?,8.- ¿Cuál es tu canción favorita?
0,2023/06/27 7:42:12 p. m. GMT-6,Cd. Juárez,Entre 21 y 24,Sí,No,Básico,Manejar bases de datos,No,The Wolf

In [65]:
df.tail()#te trae los ultimos 5 registros, se puede colocar el numero de registros dentro del parentesis

,Marca temporal,1.- ¿De dónde eres?,2.- ¿Cuántos años tienes?,3.- ¿Estudias?,4.- ¿Trabajas?,5.- ¿Cuál es tu nivel de conocimiento en Python?,6.- ¿Qué tema relacionado con Python te gustaría aprender?,7.- ¿Has participado en algún curso anteriormente en el IA Center?,8.- ¿Cuál es tu canción favorita?
42,2023/07/03 1:55:24 p. m. GMT-6,Ciudad Juarez,Más de 30,No,Sí,Intermedio,Automatizacion,No,David Bowie - Heroes

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 9 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Marca temporal                                                      43 non-null     object
 1   1.- ¿De dónde eres?                                                 43 non-null     object
 2   2.- ¿Cuántos años tienes?                                           43 non-null     object
 3   3.- ¿Estudias?                                                      43 non-null     object
 4   4.- ¿Trabajas?                                                      43 non-null     object
 5   5.- ¿Cuál es tu nivel de conocimiento en Python?                    43 non-null     object
 6   6.- ¿Qué tema relacionado con Python te gustaría aprender?          43 non-null     object
 7   7.- ¿Has participado en algún curso anteriormente en el IA Center?  43 non-null     object
 8   8.- ¿Cuál es tu canción favorita?                                   43 non-null     object
dtypes: object(9)
memory usage: 3.1+ KB

#### cvs

In [67]:
df=pd.read_csv("perfil de estudiante.csv")#leer los datos de un csv
print(df.to_string())

                     Marca temporal                        1.- ¿De dónde eres? 2.- ¿Cuántos años tienes? 3.- ¿Estudias? 4.- ¿Trabajas? 5.- ¿Cuál es tu nivel de conocimiento en Python?                                           6.- ¿Qué tema relacionado con Python te gustaría aprender? 7.- ¿Has participado en algún curso anteriormente en el IA Center?                             8.- ¿Cuál es tu canción favorita?
0    2023/06/27 7:42:12 p. m. GMT-6                                 Cd. Juárez             Entre 21 y 24             Sí             No                                           Básico                                                                               Manejar bases de datos                                                                 No                                                      The Wolf
1    2023/06/27 7:42:28 p. m. GMT-6                       chihuahua, chihuahua             Entre 21 y 24             Sí             Sí                                           Básico                                                                                      machine lerning                                                                 Sí                                               eternity, anyma
2    2023/06/27 7:42:44 p. m. GMT-6                        Chihuahua Chihuahua             Entre 18 y 20             Sí             Sí                                           Básico                                                        Automatización y creación de apps/páginas web                                                                 No                                Cornerstone- Arctic Monkeys :)
3    2023/06/27 7:42:52 p. m. GMT-6                        Chihuahua Chihuahua             Entre 21 y 24             Sí             Sí                                           Básico                                                                                    Análisis de datos                                                                 Sí                                               Sea Gets Hotter
4    2023/06/27 7:42:56 p. m. GMT-6                           Chihuahua, Chih.                 Más de 30             No             Sí                                           Básico                                                                                Conocer más librerias                                                                 Sí                                    Love Me More, de Sam Smith
5    2023/06/27 7:42:57 p. m. GMT-6                                     Puebla             Entre 21 y 24             Sí             Sí                                           Básico                                                                                  APIS y data science                                                                 No                                      Fireflight - Unbreakable
6    2023/06/27 7:42:57 p. m. GMT-6                            Cd. Juarez Chih                 Más de 30             No             Sí                                       Intermedio                                                                                    Analisis de Datos                                                                 Sí                                          Instrumental General
7    2023/06/27 7:43:04 p. m. GMT-6                              Ciudad Juarez             Entre 21 y 24             Sí             Sí                                           Básico                                                                                     Ciencia de datos                                                                 Sí                                     La bruja de Marco Flores
8    2023/06/27 7:43:10 p. m. GMT-6                             Aguascalientes             Entre 18 y 20             Sí             No                                           Básico  Me gustaria aprender un poco de todo, pero mas que nada me gustaria practicar mas los conocimientos                                                                 No                                           Canela-Nanpa Basico
9    2023/06/27 7:43:12 p. m. GMT-6                           Cd Juarez, Chih.             Entre 21 y 24             Sí             No                                           Básico                                       No tengo un tema en especifico, solo deseo repasar y aprender                                                                  Sí          Depende del momento hy del día, ahora es Hielo - Zoé
10   2023/06/27 7:43:12 p. m. GMT-6                                     Juárez             Entre 21 y 24             Sí             Sí                                           Básico                                                                                    Análisis de datos                                                                 No                                                    No tengo:(
11   2023/06/27 7:43:16 p. m. GMT-6                                 El Paso TX             Entre 18 y 20             Sí             No                                           Básico                                                                                                  POO                                                                 No                                 The Words I Never Said / Mage
12   2023/06/27 7:43:16 p. m. GMT-6                       Cuauhtemoc Chihuahua                 Más de 30             No             Sí                                       Intermedio                                                                              Web y análisis de datos                                                                 No                                              Dust in the wind
13   2023/06/27 7:43:29 p. m. GMT-6                                Cd. Juárez              Entre 21 y 24             Sí             Sí                                           Básico                         Flujos de trabajo, análisis de datos, análisis estadístico y automatización                                                                  Sí                                       Manto estelar - Moenia
14   2023/06/27 7:43:34 p. m. GMT-6                                    Hidalgo             Entre 25 y 29             Sí             Sí                                           Básico                                                                                        Deep learning                                                                 No                                                         Todas
15   2023/06/27 7:43:50 p. m. GMT-6                          Cd. Juarez, Chih.             Entre 21 y 24             Sí             Sí                                           Básico                                                               Programación orientada a objetos (POO)                                                                 Sí                        Skillet-Comatose y Whisper in the Dark
16   2023/06/27 7:44:01 p. m. GMT-6                       Cd. Juarez Chihuahua                 Más de 30             No             Sí                                           Básico                                        un poco de todo para irme familiarizandome a la prograamacion                                                                 Sí                             el hada y el mago de reta blancha
17   2023/06/27 7:44:01 p. m. GMT-6             Ciudad Juarez Chihuahua Mexico             Entre 21 y 24             No             No                                           Básico                                                                                            API y IA                                                                  Sí   https://youtu.be/dQw4w9WgXcQ y https://youtu.be/yJDBmP9Mexk
18   2023/06/27 7:44:12 p. m. GMT-6                              Ciudad Juarez                 Más de 30             Sí             No                                           Básico                                                       Web Scrapping y limpieza de conjuntos de datos                                                                 Sí                                              Hotel California
19   2023/06/27 7:44:14 p. m. GMT-6                           Chihuahua, Chih.                 Más de 30             No             Sí                                           Básico                                                                                    análisis de datos                                                                 Sí   no tengo canción favorita, prácticamente no escucho música
20   2023/06/27 7:44:17 p. m. GMT-6                              Ciudad Juarez             Entre 18 y 20             Sí             No                                           Básico                                                       Analisis de datos y su uso para desarrollo web                                                                 No                                     Burn My Dread - Persona 3
21   2023/06/27 7:44:20 p. m. GMT-6               Cd Juárez Chihuahua, México.                 Más de 30             No             Sí                                           Básico                                                        Ciencia de Datos, y API`s y Todo lo de Python                                                                 Sí                                                          ....
22   2023/06/27 7:44:25 p. m. GMT-6                              Ciudad Juárez                 Más de 30             No             Sí                                           Básico                                                       recolección, limpieza y visualización de datos                                                                 Sí                                                   Todo cuenta
23   2023/06/27 7:44:30 p. m. GMT-6                                 Cd. Juárez             Entre 25 y 29             Sí             No                                           Básico                                                                                     Ciencia de datos                                                                 Sí                                             Chosen - Maneskin
24   2023/06/27 7:44:31 p. m. GMT-6                                     Juarez             Entre 25 y 29             Sí             Sí                                           Básico         Como hacer una interfaz para poder hacer un programa funcional para terceros. Python con SQL                                                                 Sí                                             God's Plan- Drake
25   2023/06/27 7:45:04 p. m. GMT-6                     Cd. Juárez, Chihuahua              Entre 18 y 20             Sí             No                        Nunca he utilizado Python                                                                      Programación para uso academico                                                                 No                    A man without love - Engelbert Humperdinck
26   2023/06/27 7:45:37 p. m. GMT-6                            Aguascalientes              Entre 21 y 24             Sí             No                                       Intermedio                                                                  un poco de inteligencia artificial                                                                  No                                              Love of my life
27   2023/06/27 7:45:45 p. m. GMT-6                                 Cd. Juarez             Entre 15 y 17             Sí             No                                           Básico                                                                                               Bucles                                                                 Sí                               Jorge Drexler - El Plan Maestro
28   2023/06/27 7:46:10 p. m. GMT-6  San Francisco de los Romo, Aguascalientes             Entre 18 y 20             Sí             No                                           Básico                                           Librerias con aplicaciones en el mundo de las matemáticas.                                                                 No                                     Inolvidable - Luis Miguel
29   2023/06/27 7:46:14 p. m. GMT-6                                  Chihuahua             Entre 18 y 20             Sí             Sí                                           Básico                                                                                           desarrollo                                                                 No                                                     Last Call
30   2023/06/27 7:46:28 p. m. GMT-6                              Ciudad Juárez             Entre 21 y 24             Sí             No                                           Básico                                                                               Procesamiento de datos                                                                 Sí                              Lacrimosa- Matt Kent, Amber Dawn
31   2023/06/27 7:46:32 p. m. GMT-6                                 Zacatecas              Entre 25 y 29             Sí             Sí                                           Básico                                                                                                 Apis                                                                 Sí                                          All the small things
32   2023/06/27 7:46:37 p. m. GMT-6                              Ciudad Juarez             Entre 21 y 24             Sí             Sí                                           Básico                                                                                      MachineLearning                                                                 No                           Like I Love You - Justin Timberlake
33   2023/06/27 7:49:23 p. m. GMT-6                              Ciudad Juárez             Entre 18 y 20             Sí             No                                           Básico                                                                    Ciencia de Datos y automatización                                                                 Sí                  Cold Heart - PNAU REMIX Elton Jhon, Dua Lipa
34   2023/06/27 7:51:23 p. m. GMT-6                              Ciudad Juarez             Entre 25 y 29             Sí             Sí                                       Intermedio                                                                        ciencia de datos, webscraping                                                                 Sí                                 Gorillaz - On Melancholy Hill
35   2023/06/27 7:55:00 p. m. GMT-6                Veracruz, estudio en Puebla             Entre 25 y 29             Sí             No                                           Básico                                                                Lo relacionado con análisis de datos.                                                                 Sí        En este momento Los Años Maravillosos de Little Jesus
36   2023/06/27 8:05:42 p. m. GMT-6                                       CDMX             Entre 25 y 29             No             Sí                                           Básico                                                                                         web scraping                                                                 No                                                   Young Turks
37   2023/06/27 8:22:29 p. m. GMT-6                           Estado de Mexico             Entre 21 y 24             Sí             Sí                                           Básico                                                                  librerias, bloques paquetes etc....                                                                 No                                       the weeknd- Out of time
38  2023/06/27 10:02:11 p. m. GMT-6                        Ciudad Juarez, Chih             Entre 21 y 24             No             Sí                                           Básico                                                                                    Analisis de datos                                                                 Sí                                  https://youtu.be/BGVUiMskx_U
39  2023/06/27 10:31:28 p. m. GMT-6                                  cd juarez             Entre 21 y 24             Sí             Sí                                           Básico                                                                                             punteros                                                                 Sí                                        porter guiame quetzal
40  2023/06/28 10:12:04 p. m. GMT-6                                  Chihuahua             Entre 21 y 24             No             Sí                                           Básico                                                                     Machine Learning y Deep Learning                                                                 Sí                                                       Runaway
41   2023/06/29 2:00:51 a. m. GMT-6          Vivo en Ciudad Juárez. Soy cubana                 Más de 30             Sí             No                                       Intermedio       Cómo escribir un código de forma profesional, utilizando las herramientas necesarias y óptimas                                                                 No  Hay varias, pero últimamente escucho mucho "Cuba Isla Bella"
42   2023/07/03 1:55:24 p. m. GMT-6                              Ciudad Juarez                 Más de 30             No             Sí                                       Intermedio                                                                                       Automatizacion                                                                 No                                         David Bowie - Heroes

#### JSON

In [68]:
df=pd.read_json("dataset.json")
print(df.to_string())

                                                 personas
0      {'nombre': 'Juan', 'edad': 25, 'ciudad': 'Madrid'}
1  {'nombre': 'María', 'edad': 30, 'ciudad': 'Barcelona'}
2   {'nombre': 'Pedro', 'edad': 35, 'ciudad': 'Valencia'}

#### Limpieza de datos

In [74]:
data={
    'Nombre':['Juan','Maria','Pedro','Ana','luis'],
    'Edad':[25,32,None,42,28],
    'Fecha':['31/01/2023','31/01/2023',None,'31/01/2023','31/01/2023'],
    'Genero':['M','F',None,'M','F'],
    'Ciudad':['Madrid',None,'Madrid','Valencia','Barcelona'],
    'Altura':[175,163,180,158,170],
    'Peso':[70,None,80,60,75],
    'Ingresos':[50000,60000,40000,None,55000]
      }

In [75]:
df=pd.DataFrame(data)
print(df)

  Nombre  Edad       Fecha Genero     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2023      M     Madrid     175  70.0   50000.0
1  Maria  32.0  31/01/2023      F       None     163   NaN   60000.0
2  Pedro   NaN        None   None     Madrid     180  80.0   40000.0
3    Ana  42.0  31/01/2023      M   Valencia     158  60.0       NaN
4   luis  28.0  31/01/2023      F  Barcelona     170  75.0   55000.0

In [76]:
df_sin_vacios=df.dropna()#recupera los registros que no tienen algun vacio
print(df_sin_vacios.to_string())

  Nombre  Edad       Fecha Genero     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2023      M     Madrid     175  70.0   50000.0
4   luis  28.0  31/01/2023      F  Barcelona     170  75.0   55000.0

In [79]:
df.dropna(inplace=True)#inplace significa que se va a hacer dentro del dataframe, en este caso se esta borrando los registros que tienen lgun vacio
print(df)

  Nombre  Edad       Fecha Genero     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2023      M     Madrid     175  70.0   50000.0
4   luis  28.0  31/01/2023      F  Barcelona     170  75.0   55000.0

In [80]:
df.fillna("Sin registros",inplace=True)#se reemplaza el registro vacio por la palabra sin registro
print(df)

  Nombre  Edad       Fecha Genero     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2023      M     Madrid     175  70.0   50000.0
4   luis  28.0  31/01/2023      F  Barcelona     170  75.0   55000.0

In [81]:
df["Ingresos"].fillna(0,inplace=True)#se reemplaza el registro vacio de la columna ingresos por 0
print(df)

  Nombre  Edad       Fecha Genero     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2023      M     Madrid     175  70.0   50000.0
4   luis  28.0  31/01/2023      F  Barcelona     170  75.0   55000.0

In [ ]:
df_cero=df["Ingresos"].fillna(0)##se reemplaza el registro vacio de la columna ingresos por 0 en un nuevo dataframe
print(df_cero)

In [ ]:
media=df["Ingresos"].mean()
print(media)